.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.risenLogoClass {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 400px;
  width: 80%;
  /* height: 400px; */
}

.risen-nav {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #282c34;
}

.risen-main-background {
  /* background-color: #282c34dc; */
  /* padding-bottom: 25px; */
  margin-top: 50px;
}

.risen-table {
  /* border: black;
  background-color: #201b17;
  color: #fffef9; */
}

.risen-table thead th {
  border-bottom: 1px solid rgb(117, 117, 117);
  /* TODO: Find a nicer font. This one sucks */
  font-family: 'Courier New', Courier, monospace; 
}

.risen-table tbody td {
  border-bottom: 1px solid rgb(117, 117, 117);
  font-family: 'Courier New', Courier, monospace;
}

.center {
  text-align: center;
}

.risen-radio input {
  display: none;
}

.risen-radio img {
  height: 100%;
}

.risen-button {
  color: #fff;
  background-color: #E4692B;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 15px 30px;
  display: block;
  margin: 10px auto;
  position: relative;
}

.risen-radio {
  height: 50px;
  /* border: black 1px solid; */
}

.risen-check:checked + .risen-radio-label {
  background-color: blue;
  display: block;
}

.clickable:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.risen-stats-block {
  margin: 10px;
  border: 1px solid #dfe3e7;
  border-radius: .267rem;
  box-shadow: -8px 12px 18px 0 rgba(25,42,70,.13);
}

.risen-stats-header {
  /* background-color: #f5ebdce1;
  border: 2px solid #afa9a2; */
  width: 100%;
  /* color: white; */
  /* margin-bottom: 5px; */
  padding: 10px 30px;
}

.risen-stats-body {
  /* background-color: #fdfdfe;
  border: 2px solid #afa9a2; */
  /* color: white; */
  padding: 10px 30px;
}

.risen-sub-label {
  color: #7a7a7a;
  font-size: .85em;
}

.risen-body-text {
  font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
}

p.light {
  color: rgba(255, 255, 255, .7);
}

hr.risen-light {
  border-color: #fff;
  max-width: 50px;
  border-width: 3px;
}

hr.risen-dark {
  border-color: black;
  max-width: 50px;
  border-width: 3px;
}

.dark-section {
  background-color: #283652;
  padding-top: 3em;
  padding-bottom: 3em;
}

.light-section {
  background-color: #ffffff;
  padding-top: 3em;
  padding-bottom: 3em;
}

.risen-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.risen-tooltip .risen-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.risen-tooltip:hover .risen-tooltiptext {
  visibility: visible;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}